<%= form_with(model: @asset, local: true, :html => {:multipart => true}) do |form| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :uploaded_file, "File" %><br />
    <%= form.file_field :uploaded_file %>
  </p>
  <%= form.hidden_field :folder_id %>
  <div class="actions">
    <%= form.submit "Upload", id: 'fileUpload', data: { disable_with: 'Uploading' }, class: 'btn btn-primary btn-sm'%>
  </div>
<% end %>
